* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: #1e2227;
  color: white;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 8%;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1e2227;
  z-index: 1;
}
.logo {
  width: 120px;
  cursor: pointer;
}
.navIcons img {
  width: 24px;
  margin-left: 30px;
  cursor: pointer;
}
.row {
  height: 100%;
  width: 100%;
  display: flex;
}
.firstColumn,
.secondColumn {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.secondColumn {
  background-color: red;
  padding-top: 8%;
}
.firstColumn {
  padding-left: 8%;
}
.firstColumn h1 {
  font-size: 74px;
  line-height: 100px;
  margin-bottom: 5px;
}
.firstColumn h2 {
  font-size: 35px;
  margin-top: 60px;
  font-weight: 500;
}
button {
  display: inline-block;
  width: fit-content;
  background: red;
  padding: 18px 50px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  transition: transform 0.5s;
}
.featureImage {
  width: 100%;
  text-align: center;
}
.featureImage img {
  width: 80%;
  transform: rotate(-20deg);
}
.smallImageRow {
  display: flex;
  width: 80%;
  margin: 70px auto 0;
  align-items: center;
  justify-content: space-around;
}
.smallImage {
  width: 80px;
  height: 80px;
  background: #ccc;
  border-radius: 3px;
}
.smallImage img {
  width: 120px;
  transform: translate(-50px, 20px) rotate(-20deg);
}
.smallImage:nth-child(1) {
  background: #b9c8ff;
}
.smallImage:nth-child(2) {
  background: #91ffdd;
}
.smallImage:nth-child(3) {
  background: #ff6767;
}
.smallImage:nth-child(4) {
  background: #9dff90;
}
button:hover {
  background: #aa0505;
  transform: translateY(-5px);
}
